

/* Sections */

.two-column-section {
  grid-auto-columns: 1fr;
  grid-gap: 50px;
  grid-template-columns: 1fr 1fr;
}

.event-card {
  border-radius: .75rem;

  margin-top: 5rem;
  padding: 3rem 6rem;

  transform: rotate(6deg);  
  transform-origin: bottom right;

  /* transition: transform 0.3s ease; > Script for Wiggling Effect. Script is at the end of Body in index.html */
}

.event-card-grid {
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: column;
  grid-column-gap: 0.25rem;
}

.event-card-icon {
  height: 50px;
}

.venue {
  grid-column: 1 / 3;
}

.doors {
  grid-column: 1 / 2;
}

.fee {
  grid-column: 2/ 3;
}

.event-card-cta-button {
  grid-column: 1 / 3;
  margin-top: 1rem;
}

.event-card-description {
  margin: 0.5rem 0;
  color: var(--brand_black);
  font-family: var(--primary-font);
  font-weight: 700;
}

.event-card h4 {
  font-family: var(--primary-font);
  color:var(--secondary-color);
}

.teaser {
  padding: 0.5rem 0;
  background-color: var(--primary-color-shade);
}

.teaser h2 {
  font-family: var(--secondary-font);
  font-size: 50px;
  text-align: center;
}

.covid-info-runner {
  background: var(--brand_black);
  text-align: center;
  padding: 2rem;
}


.covid-info-runner h2 {
  color: white;
  font-size: 25px;
}

.covid-info-runner p {
  font-size: 18px;
  font-family: var(--primary-font)
}

.medical-mask {
  height: 3em;
}

@media (max-width: 55em) {
  
  .two-column-section {
    grid-template-columns: 1fr;
  }
  
  .two-column-section {
    padding: 10rem 0;
  }
  
  .event-card {
    margin-top: 0;
    padding: 3rem 4rem;
  }

  .teaser h2{
    font-size: 28px;
  }

  .covid-info-runner h2 {
    margin-top: 1rem;
    font-size: 20px;
  }

  .covid-info-runner p {
    margin-top: 1rem;
    font-size: 15px;
  }
}

