html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  font-family: var(--secondary-font);
  color: white;
}

/* Tracking of global Variables - especially Branding - here */

:root {
  --primary-color: #fb33ff;
  --primary-color-shade: #df2ae3;
  --secondary-color: #8526FF;
  --brand_black: #0e1111;

  --link-color: #ffffff; 

  --primary-font: 'Space Mono';
  --secondary-font: 'Nunito Sans';
}

/* Basic Element Styles */

h1, h2, h3, h4, h5, h6 {
  font-family: var(--secondary-font)
}

h1 {
  font-size: 100px;
  font-weight: 900;
  text-transform: uppercase;
  font-style: italic;
  line-height: 0.9;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:visited {
  color: var(--link-color);
}

p {
  line-height: 1.5;
}

@media (max-width: 55em) {

  h1 {
    font-size: 60px;
  }

}

/* Responsive Navbar Styles */

.primary-header {
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  color: white;
  margin-bottom: -7rem;
  margin-top: 1rem;
  z-index: 100;
}

.main-navigation {
  list-style: none;

  z-index: 9999;
  padding: 1rem;
  align-items: center;

  font-family: var(--primary-font), sans-serif;
  font-weight: 700;
  
  border-radius: .75rem 0 0 .75rem;

  position: fixed;
  top: 1rem;
  right: 0;
}

.backdrop-filter-blur {
  /* Fallback if @supports does not work */
  background: hsl(0 0% 0% / 0.5);
}


@supports (backdrop-filter: blur(1rem)) {
  /*If Browser supports Backdrop-Filter -> Use this instead of other background styles from above*/
  .backdrop-filter-blur {
    background: hsl(0 0% 80% / 0.2);
    backdrop-filter: blur(1rem);
  }
}

.main-navigation li {
  margin-inline-end: 0.75rem;
}

.main-navigation span {
  font-weight: 700;
}

.main-navigation a {
  text-decoration: none;
  color: white;
  font-weight: 400;
}

.logo-icon-header {
  height: 2.5rem;
  margin: 1rem;
}

.mobile-nav-toggle {
  display: none;
}

@media (max-width: 35em) {
  
  .main-navigation {
    position: fixed;
    inset: 0 0 0 30%;
    margin-top: 0;
    z-index: 1000;
    
    flex-direction: column;
    padding: min(20vh, 10rem) 3em;
    
    align-items: baseline;
    
    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }
  
  .main-navigation[data-visible="true"] {
    transform: translateX(0%);
  }

  .mobile-nav-toggle {
    position: fixed;
    top: 1rem;
    right: 0;

    display: block;
    
    background: url('../img/menu_icon/hamburger_closed.png');
    background-repeat: no-repeat;
    background-size: cover;

    width: 3rem;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
    z-index: 9999;
    border: 0;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background: url('../img/menu_icon/actual_hamburger.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 3rem;
    aspect-ratio: 1;
  }
}

/* Primary Footer*/

.primary-footer {
  padding: 5rem 0;
  color: white;
  background: var(--brand_black);
  justify-items: center
}

.primary-footer-columns {
grid-template-columns: 1fr 1fr 1fr;
justify-items: center;
padding-top: 5rem;
border-top: solid 1px white;
}

.primary-footer li {
  list-style: none;
  font-family: var(--secondary-font);
  margin-bottom: 0.5rem;
}

.primary-footer li button {
  margin-top: 2rem;
}

.nav-label {
  color: var(--primary-color);
  margin-bottom: 2rem;
}

.sp4-note {
  font-family: var(--primary-font);
  font-size: 10px;
  text-align: center;
  background: black;
}

.sp4-note p {
  padding: 5px;
}

@media (max-width: 55em) {
  .primary-footer-columns {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1.5rem;
    justify-items: start;
  }
}

/* Sections */

#hero-section {
  background: url('../img/pattern_pinkAndBlueTriangles_dark.png');
  background-size: cover;

  min-height: 100vh;
}

.hero-subline {
  font-size: 22px;
  margin: 1rem 0;
}

.two-column-section {
  grid-auto-columns: 1fr;
  grid-gap: 50px;
  grid-template-columns: 1fr 1fr;
}

.event-card {
  border-radius: .75rem;

  margin-top: 5rem;
  padding: 3rem 6rem;

  transform: rotate(6deg);  
  transform-origin: bottom right;

  /* transition: transform 0.3s ease; > Script for Wiggling Effect. Script is at the end of Body in index.html */
}

.event-card-grid {
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: column;
  grid-column-gap: 0.25rem;
}

.event-card-icon {
  height: 50px;
}

.venue {
  grid-column: 1 / 3;
}

.doors {
  grid-column: 1 / 2;
}

.fee {
  grid-column: 2/ 3;
}

.event-card-cta-button {
  grid-column: 1 / 3;
  margin-top: 1rem;
}

.event-card-description {
  margin: 0.5rem 0;
}

.event-card h4 {
  color:var(--secondary-color);
}

@media (max-width: 55em) {

  .two-column-section {
    grid-template-columns: 1fr;
  }

  .two-column-section {
    padding: 10rem 0;
  }

  .event-card {
    margin-top: 0;
  }
}

.covid-info-runner {
  background: var(--brand_black);
  text-align: center;
  padding: 2rem;
}


.covid-info-runner h2 {
  color: white;
  font-size: 25px;
}

.covid-info-runner p {
  font-size: 18px;
  font-family: var(--primary-font)
}

.medical-mask {
  height: 3em;
}

@media (max-width: 55em) {
  .covid-info-runner h2 {
    margin-top: 1rem;
    font-size: 20px;
  }

  .covid-info-runner p {
    margin-top: 1rem;
    font-size: 15px;
  }
}

/*Brand Elements*/

.primary-button {
  background-color: var(--primary-color);
  border-color: var(--primary-color-shade);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-family: var(--primary-font), sans-serif;
  font-weight: 700;
}

/* Utilities */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

@media (max-width: 55em) {

  .flex {
    gap: var(--gap, 0.5rem)
  }
  
}

.grid {
  display: grid;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.section-wrapper {
  width: 80%;
}

.box-shadow {
  box-shadow: 5px 10px 16px 10px rgba(0,0,0,0.25);
}

/* Accesibility */