html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}



body {
  font-family: sans-serif;
}

/* Tracking of global Variables - especially Branding - here */

:root {
  --primary-color: #fb33ff;
  --primary-color-shade: #df2ae3;
  --primary-font: 'Space Mono';
}
/* Responsive Navbar Styles */

.primary-header {
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  color: white;
  margin-bottom: -7rem;
  margin-top: 1rem;
  z-index: 100;
}

.main-navigation {
  list-style: none;

  padding: 1rem;
  align-items: center;

  font-family: var(--primary-font), sans-serif;
  font-weight: 700;
  
  background: hsl(0 0% 0% / 0.5);
}


@supports (backdrop-filter: blur(1rem)) {
  /*If Browser supports Backdrop-Filter -> Use this instead of other background styles from above*/
  .main-navigation {
    background: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(1rem);
  }
}

.main-navigation li {
  margin-inline-end: 0.75rem;
}

.main-navigation span {
  font-weight: 700;
}

.main-navigation a {
  text-decoration: none;
  color: white;
  font-weight: 400;
}

.logo-icon-header {
  height: 2.5rem;
  margin: 1rem;
}

.mobile-nav-toggle {
  display: none;
}

@media (max-width: 35em) {
  
  .main-navigation {
    position: fixed;
    inset: 0 0 0 30%;
    margin-top: 0;
    z-index: 1000;
    
    flex-direction: column;
    padding: min(20vh, 10rem) 3em;
    
    align-items: baseline;
    
    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }
  
  .main-navigation[data-visible="true"] {
    transform: translateX(0%);
  }

  .mobile-nav-toggle {
    position: absolute;
    display: block;
    
    background: url('../img/menu_icon/hamburger_closed.png');
    background-repeat: no-repeat;
    background-size: cover;

    width: 3rem;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
    z-index: 9999;
    border: 0;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background: url('../img/menu_icon/actual_hamburger.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 3rem;
    aspect-ratio: 1;
  }
}

/* Sections */


#hero-section {
  background: url('../img/heroSection_planetEarth.jpg');
  height: 100vh;

}

#hero-section img {
  height: 200px;
}

.flex-container {
  flex-direction: wrap;
  justify-content: center;
}

/*Brand Elements*/

.primary-button {
  background-color: var(--primary-color);
  border-color: var(--primary-color-shade);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-family: var(--primary-font), sans-serif;
  font-weight: 700;
}

/* Utilities */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

/* Accesibility */